@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h5 class="display-4">Bem vindo ao Company Manager!</h5>

        <button type="button" class="btn btn-primary" onclick="location.href = '/Funcionario';" id="myButton">Funcionários</button>
    </div>
